.package {
  margin-top: 20px;
  width: 400px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-content {
  padding-top: 70px;
}
.package h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.package .input {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  margin: 30px 0;
}

.input input {
  padding: 20px 45px 20px 20px;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: rgb(21, 21, 141);
  border: none;
  border: 2px solid;
  border-radius: 3px;
}

.input input::placeholder {
  color: white;
}

.input icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
}

.package button {
  width: 100%;
  height: 45px;
  background: rgb(14, 0, 140);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  font-weight: 800;
  margin-top: 30px;
}

.icon {
  padding-top: 4px;
  font-size: large;
  color: rgb(0, 0, 122);
}
