.employee-list-main {
  padding: 2vw;
  width: 78vw;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
}
.employee-list-heading {
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.employee-list-heading h1 {
  font-family: sans-serif;
  color: rgb(19, 0, 188);
}
.employee-list {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.addEmployees-btn {
  font-size: 1.1vw;
  width: 9vw;
  color: rgb(19, 0, 188);
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgb(19, 0, 188);
  transition: all 0.2s ease-in-out;
}
.addEmployees-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.addEmployees-btn:active {
  background-color: rgb(19, 0, 188);
  border: none;
  color: white;
}
