.card__outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 310px;
  width: 285px;
  border-radius: 20px;
  background-color: #d9d9d9;
}

.card__outer > img {
  border-radius: 50%;
  padding: 0 20px;
  height: 170px;
  width: 170px;
}

.buttons {
  display: flex;
  gap: 1em;
}
