.employee-card-container {
  padding: 1vw;
  margin: 0.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border: 3px solid rgb(19, 0, 188);
  border-radius: 10px;
  background-color: #e3e3e3;
  gap: 2vh;
}
.employee-card-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.employee-card-container-img img {
  width: 60%;
  border-radius: 50%;
}
.employee-card-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}
.card-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}
.view-btn {
  width: 10vw;
  height: 5vh;
  color: white;
  background-color: rgb(19, 0, 188);
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.remove-btn {
  width: 8vw;
  height: 5vh;
  color: white;
  background-color: red;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.view-btn:hover,
.remove-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
